﻿@using xpos314.viewmodels
@model VMTblVariant

@{
    Layout = null;
}

<div class="card">
    <div class="card-body">
        <form asp-action="Delete" method="post">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <h3>Are you sure for delete @Model.NameVariant ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-controller="VariantTry" asp-action="Index" class="btn btn-light">Back to List</a>
            </div>
        </form>
    </div>
</div>