﻿@using xpos314.viewmodels
@model VMTblVariant

@{
    //Layout = Model == null ? Layout : null;
    Layout = null;
    ViewData["Title"] = "Create Detail";
}
<<div class="card">
    <div class="card-body">

        <h2 class="display-6">@ViewData["Title"]</h2>

        <form asp-action="Detail" method="post">

            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <div class="form-group row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Nama Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
                </div>
            </div>


            <div class="modal-footer">
                
                <a class="btn btn-light" asp-controller="VariantTry" asp-action="Index">Back to Index</a>
            </div>

        </form>

    </div>
</div>