﻿@using xpos314.viewmodels
@model VMTblVariant
@{
    Layout = null;
    ViewData["Title"] = "Create Varian Try";
}
<div class="card">
    <div class="card-body">

        <h2 class="display-6">@ViewData["Title"]</h2>

        <form asp-action="Edit" method="post" id="form_input">

            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <div class="form-group row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Nama Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant">
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Nama Category</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdCategory", 
                    new SelectList(ViewBag.DropdownCategory, "Id", "NameCategory"),
                    "--Pilih Category--",
                    new { @class = "form-control"}
                    )
                </div>
            </div>



            <div class="form-group row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>


            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-light" asp-controller="VariantTry" asp-action="Index">Back to Index</a>
            </div>

        </form>

    </div>
</div>
<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameVariant: {
                required: true,
                minlength: 10,
            },
            Description: {
                required: true,
                minlength: 10,
            },
            IdCategory: "required",
        },
        messages: {
            NameVariant: {
                required: "Please fill Name Variant",
                mintlength: "The Name must consist of at least 10 characters"
            },
            Description: {
                required: "Please fill Name Variant",
                mintlength: "The Name must consist of at least 10 characters"
            },
            IdCategory: "Please select category",
        }
    })
</script>