﻿@using xpos314.viewmodels
@model VMTblCategory

@{
    Layout = null;
    //Layout = Model == null ? Layout : null;
    ViewData["Title"] = "Create Category";
}
<div class="card">
    <div class="card-body">

<h2 class="display-6">@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    
    <div class="form-group row">
        <label for="NameCategory" class="col-sm-4 col-form-label">Nama Category</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
            <span asp-validation-for="NameCategory" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label for="Description" class="col-sm-4 col-form-label">Description</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="Description" name="Description">
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-light" asp-controller="CategoryTry" asp-action="Index">Back to Index</a>
        </div>
    </div>
</form>

</div>
</div>
