﻿@using xpos314.viewmodels
@model VMTblCategory

@{
    Layout = null;
    ViewData["Title"] = "Create Detail";
}
<div class="card">
    <div class="card-body">

        <h2 class="display-6">@ViewData["Title"]</h2>

        
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            @*<div class="form-group row">
            <label for="Id" class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="Id" name="Id">
            </div>
            </div>*@
            <div class="form-group row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Nama Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
                    
                </div>
            </div>
            <div class="form-group row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8">
                   
                    <a class="btn btn-light" asp-controller="CategoryTry" asp-action="Index">Back to Index</a>
                </div>
            </div>
        

    </div>
</div>
