﻿@using xpos314.viewmodels;
@{
    ViewData["Title"] = "Category Try";
}


<h2 class="display-6">@ViewData["Title"]</h2>
<button type="button" class="btn btn-primary" id="btn_create">Create</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name Category</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VMTblCategory item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.NameCategory</td>
                <td>@item.Description</td>
                <td>
                    <a class="btn btn-primary text-white btn_edit" data-id="@item.Id">Edit</a>
                    <a class="btn btn-success text-white btn_detail" data-id="@item.Id">Detail</a>
                    <a class="btn btn-danger text-white btn_delete" data-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<script>
    $(document).ready(function(){
        $("#select_show").val(@ViewBag.currrentShowData)
        $("#btn_create").click(function(){
            $("#myModal_body").empty()
            $("#myModal_body").load("/CategoryTry/Create")
            $("#myModal").modal("show")
        })

        $(".btn_edit").click(function(){
            var id = $(this).data("id")
            $("#myModal_body").empty()
            $("#myModal_body").load("/CategoryTry/Edit?id=" + id)
            $("#myModal").modal("show")
        })

        $(".btn_detail").click(function(){
            var id = $(this).data("id")
            $("#myModal_body").empty()
            $("#myModal_body").load("/CategoryTry/Detail?id=" + id)
            $("#myModal").modal("show")
        })

        $(".btn_delete").click(function () {
            var id = $(this).data("id")
            $("#myModal_body").empty()
            $("#myModal_body").load("/CategoryTry/Delete?id=" + id)
            $("#myModal").modal("show")
        })

        $("#btn_search").click(function () {
            $("#sort_change").val("@ViewBag.currentSort")
            $("#form_search").submit()
        })
        $("#btn_reset").click(function () {
            $("#searchString").val("")
            $("#form_search").submit()
        })
        $("#select_show").change(function () {
            $("#sort_change").val("@ViewBag.currentSort")
            $("#form_search").submit()
        })
    })
</script>