﻿@using xpos314.viewmodels
@model VMTblCategory

@{
    //Layout = Model == null ? Layout : null;
    Layout = null;
    ViewData["Title"] = "Detail Category";
}
<div class="card">
    <div class="card-body">

<h2 class="display-6">@ViewData["Title"]</h2>

        <form asp-action="Detail" method="post" id="form_input">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
           
    <div class="form-group row">
        <label for="NameCategory" class="col-sm-4 col-form-label">Nama Category</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
            <span asp-validation-for="NameCategory" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label for="Description" class="col-sm-4 col-form-label">Description</label>
        <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-8">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-light" asp-controller="Category" asp-action="Index">Back to Index</a>
        </div>
    </div>
</form>

</div>
</div>
