﻿﻿@using xpos314.viewmodels
@model VMTblProduct
@{
	ViewData["Title"] = "Detail Product";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>

		<input type="hidden" id="Id" name="Id" value="@Model.Id" />
			<div class="form-group row mb-2">
				<label for="NameProduct" class="col-sm-4 col-form-label">Name Product</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameProduct" id="NameProduct" required value="@Model.NameProduct" readonly>
				</div>
			</div>
		
			<div class="form-group row mb-2">
			<label for="NameCategory" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
				<input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory" readonly />
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="NameVariant" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Price" id="NameVariant" value="@Model.NameVariant" readonly />
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
				<input placeholder="Rp. ..." type="text" class="form-control" name="Price" id="Price" value="@Model.Price" readonly />
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Stock" class="col-sm-4 col-form-label">Stock</label>
				<div class="col-sm-8">
				<input type="text" class="form-control" name="Stock" id="Stock" value="@Model.Stock" readonly />
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Image" class="col-sm-4 col-form-label">Image</label>
				<div class="col-sm-8">
					<img src="~/images/@Model.Image" height="50" width="50" />
				<input type="text" name="Image" id="Image" value="@Model.Image" readonly />
			</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<a class="btn btn-secondary" asp-controller="Product" asp-action="Index">Back</a>
				</div>
			</div>
		
	</div>
</div>

