﻿<div class="main-wrapper">
	<div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
		 style="background:url(/adminmart/assets/images/big/auth-bg.jpg) no-repeat center center;">
		<div class="auth-box row">
			<div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(/adminmart/assets/images/big/auth-bg.jpg);">
			</div>
			<div class="col-lg-5 col-md-7 bg-white">
				<div class="p-3">
					<div class="text-center">
						<img src="/adminmart/assets/images/favicon.png" alt="wrapkit">
					</div>
					<h2 class="mt-3 text-center">Sign In</h2>
					<p class="text-center">Enter your email address and password to access admin panel.</p>
					<form class="mt-4" id="form_login">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label class="text-dark" for="Email">Email</label>
									<input class="form-control" id="Email" name="Email" type="email"
										   placeholder="enter your email">
								</div>
							</div>
							<div class="col-lg-12">
								<div class="form-group">
									<label class="text-dark" for="Password">Password</label>
									<input class="form-control" name="Password" id="Password" type="password"
										   placeholder="enter your password">
								</div>
							</div>
							<div class="col-lg-12 text-center">
								<button type="submit" class="btn btn-block btn-rounded btn-dark">Sign In</button>
							</div>
							<div class="col-lg-12 text-center mt-5">
								Don't have an account? <a href="#" class="text-danger">Sign Up</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>
<script>
	$("#form_login").validate({
		errorClass: "is-invalid text-danger",
		rules: {
			Email: {
				required: true,
				email: true,
			},
			Password: "required",
		},
		messages: {
			Email: {
				required: "Please fill Email !",
				minlength: "Please fill a valid Email!",
			},
			Password: "Plese fill Password",
		},

		submitHandler: function (form) {
			////var dataForm = $(form).serialize();
			var email = $("#Email").val()
			var password = $("#Password").val()

			$.ajax({
				url: "/Auth/LoginSubmit",
				data: { Email: email, Password: password },
				method: "GET",
				dataType: "json",
				beforeSend: function () {
					$("#modal_load").modal("show")
				},
				success: function (respon) {
					$("#modal_load").modal("hide")
					var data = respon.dataRespon
					if (data.success) {
						$("#modal_lg").modal("hide")

						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else {

						toastr.error(data.message)
					}
				}
			})
		}
	})
</script>