﻿﻿@using xpos314.datamodels
@model TblRole
@{
	ViewData["Title"] = "Detail Role";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Edit" method="post" id="form_input" enctype="multipart/form-data">
			<div class="form-group row mb-2">
				<label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="RoleName" id="RoleName" required value="@Model.RoleName" readonly>
					<span id="validateRole" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-10">

					<a class="btn btn-secondary" asp-controller="Role" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>