﻿@using xpos314.datamodels
@model TblRole
@{
	Layout = null;
	//Layout = Model == null ? Layout : null;
	ViewData["Title"] = "Edit Role";
}
<div class="card">
	<div class="card-body">

		<h2 class="display-6">@ViewData["Title"]</h2>

		<form asp-action="Edit" method="post" id="form_input">
			<input type="hidden" name="Id" id="Id" value="@Model.Id" />

			<div class="form-group row">
				<label for="RoleName" class="col-sm-4 col-form-label">Nama Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName">
					<span id="validateRoleName" class="text-danger"></span>

				</div>
			</div>


			<div class="form-group row">
				<div class="col-sm-8">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-light" asp-controller="Category" asp-action="Index">Back to Index</a>
				</div>
			</div>
		</form>

	</div>
</div>


<script>
	$("#form_input").validate({
		errorClass: "is-invalid text-danger",
		rules: {
			RoleName: {
				required: true,
				minlength: 5,
			}
		},
		messages: {
			RoleName: {
				required: "Please fill name RoleName!",
				minlength: "The Name must consist of at least 5 character!",
			}
		},

		submitHandler: function (form) {
			var dataForm = $(form).serialize();


			$.ajax({
				url: "/Role/Edit",
				type: "POST",
				dataType: "json",
				data: dataForm,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$("#myModal").modal("hide")

						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					}
					else {
						toastr.error(data.message)
					}
				}
			})
		}
	})
</script>