﻿﻿@using xpos314.viewmodels
@model VMTblVariant
@{
	//Layout = null;
	ViewData["Title"] = "Detail	 Variant";

}
<div class="card">
	<div class="card-body">
		<h2 class="display-6">@ViewData["Title"]</h2>


		<form asp-action="Detail" method="post" id="form_input">
			<div class="mb-4 row a">
				<label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" readonly>

				</div>
			</div>

			<div class="form-group row">
				<label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
				</div>
			</div>

			<div class="mb-4 row">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
				</div>
			</div>

			<div class="mb-4 row">
				<div class="col-sm-10">
					
					<a class="btn btn-light" asp-controller="Variant" asp-action="Index">Back To List</a>
				</div>
			</div>
		</form>

	</div>
</div>

