﻿@{
    ViewData["Tittle"] = "Create Friend";
}

<div class="h4 mb-4">Create Form Friend</div>

<form action="Create" method="post">
    <div class="form-group row">
        <label for="Id" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Id" name="Id">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Nama Category</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="NamaKategory" name="NamaKategory">
        </div>
    </div>
    <div class="form-group row">
        <label for="Address" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Description" name="Description">
        </div>
    </div>
    <br />
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-dark" asp-controller="Friend" asp-action="Index">Back to Index</a>
        </div>
    </div>
</form>