﻿@model Friend
@{
    ViewData["Title"] = "Delete Friend";
}
<div class="h4 mb-4">Are you sure delete this data @Model.Name?</div>
<form action="Delete" method="post">
    
    <div>
        <button type="submit" class="btn btn-primary" asp-route-id="@Model.Id">Yes</button>
        <a class="btn btn-dark" asp-controller="Friend" asp-action="Index">No</a>
    </div>
</form>
