﻿@model Friend
@{
    ViewData["Title"] = "Detail Friend";
}
<div class="h4 mb-4">@ViewData["Title"]</div>

    <div class="mb-4 row">
        <label for="Id" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly>
        </div>
    </div>
    <br />
    <div class="form-group row">
        <label for="Address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" readonly>
        </div>
    </div>
    <br />
    <div class="form-group row">
    <div class="col-sm-10">
        
        <a class="btn btn-dark" asp-controller="Friend" asp-action="Index">Back to Index</a>
    </div>
    </div>
