﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<h2>My Friend Bootcamp 314 XSIS Mitra Utama</h2>
<br/>*@

@{
    ViewData["Title"] = "My Friend Bootcamp 314 XSIS Mitra Utama";
}

<h2 class="display-6">@ViewData["Title"]</h2>
<a class="btn btn-primary" asp-controller="Friend" asp-action="Create">Create</a>

@*<p>Return From View</p>*@

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Friend item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Friend" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-success" asp-controller="Friend" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                    <a class="btn btn-danger" asp-controller="Friend" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>

@*<p>Return From ViewBag</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Friend item in ViewBag.listFriend)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>
                    <a class="btn btn-primary">Edit</a>
                    <a class="btn btn-success">Detail</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>*@